<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ title|default('XMLTV') }}</title>
    <link rel="stylesheet" type="text/css" href="{{ root }}/static/browser.css"/>
    {% block head %}
    {% endblock %}
</head>

<body>
<div class="nav_bar">
    <ul class="toc">
        <li><a href="{{ root }}/day.php" class="toc">Day</a></li>
        <li><a href="{{ root }}/week.php" class="toc">Week</a></li>
        {% block nav_bar %} {% endblock %}
    </ul>
</div>
<br>
<hr>
{% block content %} {% endblock %}
</body>
</html>